OrdenesTrabajo/Connected Services/srvOrdenesTrabajo/OrdenesTrabajo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="DescripcionPerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaBaja" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfilUsuario" nillable="true" type="tns:Perfil" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Perfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opciones" nillable="true" type="tns:ArrayOfOpcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil" nillable="true" type="tns:Perfil" />
  <xs:complexType name="ArrayOfOpcion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Opcion" nillable="true" type="tns:Opcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOpcion" nillable="true" type="tns:ArrayOfOpcion" />
  <xs:complexType name="Opcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanBajaAlta" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanInsert" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanSelect" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanUpdate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Opcion" nillable="true" type="tns:Opcion" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
</xs:schema>