OrdenesTrabajo/Connected Services/srvOrdenesTrabajo/OrdenesTrabajo3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL.ParametrosBusqueda" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL.ParametrosBusqueda" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametrosBusquedaUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoPerfil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Dominio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncluirBajas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NomApe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametrosBusquedaUsuarios" nillable="true" type="tns:ParametrosBusquedaUsuarios" />
</xs:schema>